.user_page_wrapper {
    width: 100vw;
    height: 100vh;
}

.user_page_header {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid #d7d8d9;
}

.log_out_button {
    height: 30px;
    width: 70px;
    background-color: #52abff;
    cursor: pointer;
    border: none;
    color: white;
}

.log_out_button:hover {
    background-color: #66b0fa;
}

.log_out_button:active {
    background-color: #2a92fa;
}

.user_info_wrapper {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_info_block {
    width: calc(100vw / 2);
    height: calc(100vh - 111px);
    background-color: white;
    border: 1px solid #d7d8d9;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.current_info {
    display: block;
}

.user_pic {
    margin-left: 40px;
    margin-top: 40px;
}

.current_info:first-child {
    margin-right: 40px;
    margin-top: 40px;
}

@media screen and (max-width: 1100px) {
    .user_info_block {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .user_pic {
        margin-left: 0px;
    }

    .current_info:first-child {
        margin-right: 0px;
    }
}
