.pop_up_wrapper {
    position: absolute;
    width: 150px;
    height: 200px;
    background-color: #fcf2c7;
    border: 1px solid #d7d8d9;
    right: 225px;
    bottom: 0px;
}

.correct_password {
    color: green;
}

.wrong_password {
    color: red;
}
