.circle {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    position: absolute;
    left: 215px;
    top: 27px;
}

.circle.true {
    background-color: green;
    border: 1px solid #d7d8d9;
}

.circle.false {
    background-color: #d60229;
    border: 1px solid #d7d8d9;
}

.marker.false:before,
.marker.false:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 3px;
    background: white;
    top: 8px;
    left: 2px;
}

.marker.false:before {
    transform: rotate(45deg);
}
.marker.false:after {
    transform: rotate(-45deg);
}

.marker.true:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    width: 7px;
    height: 3px;
    background: white;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.marker.true::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 8px;
    width: 13px;
    height: 3px;
    background: white;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
