.error_page_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error_page_message {
    color: #52abff;
    font-size: 100px;
}
