.input_wrapper {
    position: relative;
}

.input {
    display: block;
    height: 25px;
    border: 1px solid #d7d8d9;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
}

.input:focus {
    outline: none;
    border: 1px solid #52abff;
}
